.container {
    display: flex;
    flex-direction: row;
    gap: 2vw
}

.cidades {
    display: grid;
    overflow-y: scroll;
    font-weight: 900;
}

.title {
    color: #FA9E27;
    font-weight: 900;
}

.dados p {
    font-weight: 900;
}